*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #277dee;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  background-color: #9BD920;
  padding: 2%;
}

h1{
  font-size: 4.7rem;
}

main{
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}

nav > div{
  display: flex;
  flex: auto;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

nav > div > a{
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: auto;
  border: solid #000000 1.5px;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #dbcbb4;
  font-size: 1.3rem;
  padding: 10px;
}

nav > div > :hover{
  background-color: #dbd2c6;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

nav > div > a > div > p{
  text-align: center;
  margin: auto;
}

nav > div > div > :hover{
  cursor: pointer;
}

section{
  margin: auto;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
  align-items: center;
}

section > div{
  width: 50%;
  margin: auto;
  font-size: 3rem;
}

input{
  width: 60px;
  height: fit-content;
  font-size: 3rem;
}

#calcular{
  padding: 8px;
  border-radius: 10%;
  height: fit-content;
  width: fit-content;
  font-size: 1.3rem;
  color: white;
  background-color: #1635c2;
  border: 0;
}

#calcular:hover{
  cursor: pointer;
  background-color: #0f1fa7;
}

footer{
  text-align: center;
  font-size: 2.2rem;
  margin-top: 2%;
}

@media (max-width: 855px){
  h1{
    font-size: 3rem;
    padding: 20px;
  }

  nav > div > a > div{
    font-size: 1rem;
    height: 55px;
    align-content: center;
  }
}